.cart-item{
    border: 2px solid black;;
    width: 60%;
    display: flex;
justify-content: space-between;
padding: 10px;
border-radius: 5px;
font-size: 15px;
color: gray;
font-weight: 900;
margin: 20px;
}
.cart-item-actions{
    display: flex;
    justify-content: space-between;
    /* border: 3px solid black; */
}
.action-icons{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 3px;
}